body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  box-sizing: border-box;
  padding: 0 10px;
}

h1 {
  color: #fff;
  margin: 60px 0;
  text-align: center;
}

.section-table {
  overflow-x: auto;
  margin: 0 auto 60px;
  max-width: 1400px;
}

.section-heading {
  margin-bottom: 12px;
}

table {
  background-color: #1e1e1e;
  border-collapse: collapse;
  color: #e0e0e0;
  font-size: 16px;
  margin: 0 auto;
  width: 100%;
}

thead th {
  color: #fff;
  padding: 12px;
  text-align: left;
}

#playing thead th {
  background-color: #0056b3;
  border: 1px solid #0056b3;
}

#backlog thead th {
  background-color: #626262;
  border: 1px solid #626262;
}

#wishlist thead th {
  background-color: #915b16;
  border: 1px solid #915b16;
}

#beat thead th {
  background-color: #29751b;
  border: 1px solid #29751b;
}

#paused thead th {
  background-color: #b94415;
  border: 1px solid #b94415;
}

tbody tr {
  border: 1px solid #444;
  padding: 12px;
  text-align: left;
}

tbody th {
  color: #fff;
  padding: 10px;
}

td {
  border: 1px solid #444;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #2c2c2c;
}

tr:hover {
  background-color: #3a3a3a;
}
